
<div class="container">
    <div class="container">
        <div class="row col-md-6 col-md-offset-2 custyle">
        <table class="table table-striped custab">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Plot</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies">
                <td>{{movie.id}}</td>
                <td>{{movie.title}}</td>
                <td>{{movie.year}}</td>
                <td class="text-center">
                    <button class="btn btn-danger btn-xs" (click)="delete(movie.id)"> Delete</button>
                </td>
                <td class="text-center">
                    <button class="btn btn-primary btn-xs" (click)="delete(movie.id)"> Update</button>
                </td>
                <td class="text-center">
                    <button class="btn btn-primary btn-xs" (click)="movieDetails(movie.title)"> Details</button>
                </td>
            </tr>
        </tbody>
        </table>
        </div>
    </div>